.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* CSS for the Post component */
.post {
  padding: 10px;
  margin: 10px;
  background-color: #d5d1ff;

  color: #474747;
}

.post-header {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.post-content {
  border-radius: 20%;
}

.post-header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-info h3 {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.user-info p {
  font-size: 0.9rem;
  color: #888;
  margin: 0;
}

.post-footer {
  margin-top: 10px;
}

.right-post-info p {
  font-size: 0.9rem;
  color: #888;
  margin: 0;
  text-align: right;
}

.tag-container {
  margin-top: 5px;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.carousel-root {
  border-radius: 10px; /* Adds rounded edges to the image carousel */
  box-shadow: none !important; /* Removes the drop shadow from the image carousel */

  /* Remove the shadow from the circular buttons */
  .thumbs-wrapper .thumbs .thumb {
    box-shadow: none !important;
  }
}
/* Media query for non-phone screens (e.g., screens wider than 768px) */
@media (min-width: 768px) {
  .post {
    width: 45%; /* Set the width to 50% for non-phone screens */
  }
  .right-post-info {
    display: none;
  }
}

@media (max-width: 768px) {
  .post-header {
    display: flex;
    justify-content: space-between;
  }
  .post-user-info-wrapper {
    display: flex;
    justify-content: flex-start;
  }
  .post-header img {
    width: 20px; /* Decrease the size of the profile photo */
    height: 20px; /* Decrease the size of the profile photo */
  }

  .user-info h3 {
    font-size: 14px; /* Decrease the font size of the username */
  }

  .info-mobile {
    display: none;
  }

  .tagged-users p {
    font-size: 12px;

  .right-post-info p {
    font-size: 10px;

  }
}
