body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.sticky-header {
  position: sticky;
  top: 0;
  background-color: #e57cff;
  padding: 10px 0;
  z-index: 100;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 20px;
}

.left-content {
  text-align: left;
  /* font-family: 'Roboto'; */
  color: #ffffff;
  font-weight: 700;
  /* -webkit-text-stroke-width: 1px; */
  font-size: 30px;
}

.right-content {
  display: flex;
  gap: 10px;
  align-items: center;
}

.right-content .right-image {
  width: 35px; /* Adjust the width of the image as needed */
  height: 35px; /* Set the height to match the width for a circular shape */
  border-radius: 50%; /* This makes the image circular */
  object-fit: cover; /* Ensures the image covers the entire circular area */
}

.user-tag {
  background-color: white;
  align-items: center;
  justify-content: flex-start;
  width: 100px;
  border-radius: 15px;
  display: flex;
}

.more-tag-bubble {
  background-color: white;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
}

.more-tag-text {
  text-align: left;
  color: #d5d1ff;
  font-weight: 700;
  font-size: 12px;
}

.tag-left-content .tag-left-image {
  width: 20px; /* Adjust the width of the image as needed */
  height: 20px; /* Set the height to match the width for a circular shape */
  border-radius: 50%; /* This makes the image circular */
  object-fit: cover; /* Ensures the image covers the entire circular area */
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 1px;
}

.tag-right-content {
  text-align: left;
  color: #d5d1ff;
  font-weight: 700;
  font-size: 12px;
}

.create-post-page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}



.create-post-page-wrapper-wrapper-text {
  padding-left: 2%;
  margin-top: 7px;
  margin-bottom: -10px;
  text-align: left; 
  font-size: 15px;
  color: black;
  font-weight: 700;
}
.create-post-page-wrapper-wrapper-text:hover {
  text-decoration: underline;
  cursor: pointer;
}

.create-post-page {
  max-width: 500px;
  background-color: #eea9ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;
  margin: 5%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.create-post-page p {
  font-size: 15px;
  color: black;
  font-weight: 700;
}

/* CSS for the custom upload button */
.custom-file-upload {
  border: none;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #ffffff;
  color: black;
  border-radius: 25px;
  transition: background-color 0.3s ease;
  font-weight: 700;
  font-size: 13px;
}

.custom-file-upload:hover {
  background-color: rgb(235, 234, 234);
}

.file-upload {
  display: none;
}

.upload-text {
  padding-bottom: 10px;
  font-weight: 700;
}

.preview-carousel .carousel-item {
  border-radius: 15px;
  overflow: hidden;
  /* max-width: 300px; */
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
}

.post-image {
  object-fit: cover; /* Make sure the image fills the container while maintaining its aspect ratio */
  object-position: center; /* Center the image both horizontally and vertically */
  border-radius: 10px; /* Rounded corners */
}

.add-tags {
  padding-top: 10px;
}

.add-tags-text {
  margin-bottom: 5px;
}

.add-tags-textbox {
  /* padding: 10px; */
  margin-top: 0;
  border: none;
  width: 100%;
  height: 20px;
  border-radius: 5px;
  font-size: 15px;
  resize: none;
}

.add-description {
  padding-top: 10px;
}

.add-description-text {
  margin-bottom: 5px;
}

.add-description-textbox {
  margin-top: 0;
  border: none;
  width: 100%;
  height: 100px;
  border-radius: 5px;
  vertical-align: bottom;
  word-wrap: break-word;
  white-space: normal;
  font-size: 15px;
  resize: none;
}

/* CSS for the cute button */
.create-button {
  display: inline-block;
  background-color: black; /* Pink background color */
  color: white; /* White text color */
  border: none; /* Remove border */
  border-radius: 25px; /* Round the corners */
  padding: 15px;
  font-size: 18px;
  cursor: pointer; /* Add pointer cursor */
  transition: background-color 0.3s ease;
  font-weight: 700;
  width: 50%;
  min-width: 180px;
}

.create-button:hover {
  background-color: rgba(68, 68, 68, 0.884);
}

.create-button-div {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .add-description-textbox {
    width: 500px;
  }

  .add-tags-textbox {
    width: 500px;
  }

  .preview {
    width: 500px;
  }
  .create-post-page {
    height: 100vh;
  }
}

.links {
  text-decoration: underline;
}

.log-in-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.log-in-link h4 {
  margin: 0;
}

.back-text {
  display: flex;
  justify-content: flex-start;
}
